<div class="center jumbotron">
  <h1>LRSC Football</h1>
  <h2>
    This is the home page for London Road Sports Centre 5-a-side football.
  </h2>
  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
</div>